<header class="header">
  <div class="header-inner">
    <a class="logo" href="/">
      Georgia Trout
      <span>River Intelligence</span>
    </a>

    <nav class="nav">
      <a href="/">Rivers</a>
      <a href="/">Reports</a>
      <a href="/">Flies</a>
      <a href="/">Stocking</a>
    </nav>
  </div>
</header>
